@media screen and (min-width: 768px) {
    html body > *{
        max-width: 1024px;
        padding:3rem;
    }
    body {
        font-size: 18px;
    }
    body main section:not(:last-of-type) {
        margin-bottom:3rem;
    }
    html body h1 {
        font-size: 30px;
    }
    html body h2 {
        font-size: 25px;
    }
    html body h3 {
        font-size: 20px;
    }
    body nav li {
        font-size:calc(.1vh + 2rem);
    }
    body header a {
        font-size:calc(.1vh + 2rem);
    }
    body p {
        margin:0 2rem;
    }
}

*{
    box-sizing: border-box;
}
:root {
    font-size: 14px;
}
p{
    margin:0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightgrey;
}
    body > * {
        max-width: 450px;
        padding:1rem;
        margin: 1rem auto;
        background-color: white;
        border-radius: .5rem;
        color:grey;
        box-shadow: 2px 2px 2px 0px hsla(125, 0%, 0%, .3);
    }
    h1, h2, h3 {
        margin:0;
    }
    h2 {
        font-size:1.3rem;
    }
    h3 {
        font-size:1.1rem;
    }
    header {
        align-content: center;
        text-align:center;
    }
        header img{
            width: max(30%, 100px);
            border-radius: 50%;
            border:.3rem solid lightgrey;
        }
        header h1{
            color:indianred;
            font-size:1.5rem;
            font-weight: 800;
        }
        header h2 {
            font-weight: 600;
            padding: 1rem 0;
        }
        header p{
            text-align: justify;
            margin-bottom:1rem;
        }
        header a, header a:visited {
            text-decoration: none;
            font-weight: 600;
            color:white;
            background-color: indianred;
            padding:.5rem;
            border-radius: .2rem;
            display: inline-block;
            transform: scale(1);
            transition: all .2s;
        }
            header a:hover, header a:active {
                background-color:indigo;
                transform: scale(1.1);
            }
    nav ul {
        display:flex;
        flex-direction: row;
        list-style-type: none;
        padding:0;
        color:lightgrey;
    }
        nav li {
            flex:1;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            nav li a, nav li a:visited {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                color:inherit;
                transform: scale(1);
                transition: all .2s;
            }
            nav li a:hover {
                color:indianred;
                transform: scale(1.1);
            }
    main section{
        display:grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas: 
        "img title"
        "img description"
        ;
    }
    main section:not(:last-of-type) {
        margin-bottom:1rem;
    }
        main section img {
            grid-area: img;
            max-width: 100px;
        }
        main section h3 {
            grid-area: title;
        }
        main section p {
            grid-area: description;
            padding:1rem;
        }
    main>h2 {
        text-align: center;
        font-weight: 600;
        padding-bottom:2rem;
    }
    main section>h3 {
        text-align: center;
    }
    main section>p {
        text-align: justify;
    }